/* body {
	font-family: sans-serif;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 15px;
}

.container {
	width: 350px;
	padding: 40px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	
		color: #3a6ea1;
}

.container div {
	margin-bottom: 20px;
			color: #3a6ea1;

}

label {
	display: block;
	margin-bottom: 8px;
	color: #3a6ea1;
	font-size: 2rem;;
}

input[type="text"],
input[type="password"] {
	width: calc(100% - 22px);
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
		
}

div.login-screen-button{

	min-width:100%;
}

button[type="submit"], div a {

	padding:1rem;
	background-color: #3a6ea1;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	text-decoration: none;
	min-width:100%;
	max-width:100%;
}

button[type="submit"]:hover {
	background-color:blue;
}

#results {
	margin-top: 20px;
	text-align: center;
	color: #555;
}

#loginForm div {
	margin-bottom: 15px;
}
#loginForm div:last-child {
	margin-bottom: 0px;
}
input:focus {
	outline: 1px solid #003366;
}
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

div.container {
	display: block;
	background-color: #fff;
	padding: 3rem;
	border-radius: 1.5rem;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 600px;
	text-align: center;
}

div.container h1 {
	font-style: bold;
	font-size: 3rem;
	color: rgb(38, 78, 152);
	margin-bottom: 1.5rem;
}

div.container h2 {
	font-size: 2rem;
	color: rgb(38, 78, 152);
	margin-bottom: 1.5rem;
}

div.container form div.form-group {
	margin-bottom: 1rem;
	text-align: left;
}

div.container form div.form-group input {
	width: 100%;
	padding: 0.75rem;
	margin-top: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

div.container div.button-link a {
	font-size: 1rem;
	color: white;
	text-decoration: none;
}

div.container div.button-link,
button.scott-button {
	width: 100%;
	background-color: rgb(38, 78, 152);
	color: white;
	font-size: 1rem;
	padding: 0.75rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 1rem;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

div.container div.button-link:hover {
	background-color: #45a049;
	transform: translateY(-2px);
}

div.container form button.scott-button:active {
	transform: translateY(0);
}

div.container form {
	margin-bottom: 1rem;
}

@media (max-width: 600px) {
	div.container h2 {
		font-size: 1.5rem;
	}

	div.container form div.form-group label {
		font-size: 0.9rem;
	}

	div.container form button.scott-button {
		font-size: 0.9rem;
	}
}
